body {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(66, 13, 13);
}


h1 {
	color: wheat;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 180px;
	font-weight: 100;
	font-size: 2.3rem;
	border-bottom: 3px solid rgb(22, 22, 22);
}

.quote-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.quote-display {
	color: wheat;
	font-size: 1.1rem;
  margin: 60px;
	margin-top: 90px;
	text-align: center;
}

.buttons {
	border-radius: 26px;
	background-color: rgb(51, 4, 4);
	padding: 12px 18px;
}

.quote-button {
	background: rgb(54, 11, 11);
	border-radius: 20px;
	padding: 10px 15px;
	color: wheat;
	font-size: 1.1rem;
	margin-right: 15px;
	cursor: pointer;
	&:hover {
		background-color: rgb(66, 13, 13);
	}
}

.favorites-button {
	background: rgb(54, 11, 11);
	border-radius: 20px;
	padding: 10px 15px;
	color: wheat;
	font-size: 1.1rem;
	cursor: pointer;
	&:hover {
		background-color: rgb(66, 13, 13);
	}
}

.favorites-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 200px;
	background-color: rgb(54, 5, 5);
	padding: 20px;
}

.favorites-header {
	color: wheat;
	border-bottom: 3px solid rgb(22, 22, 22);
	font-weight: 100;
	font-size: 1.8rem;
}

.favorite-quote {
	color: wheat;
	font-size: 1rem;
	line-height: 25px;
}